<div class="form">
    <mat-card class="card">
        <mat-card-title>Log In</mat-card-title>
        <mat-card-title> <a routerLink="/registerUser">register</a></mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="loginData.email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="loginData.password" matInput placeholder="Password">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="login()" class="button" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>