footer{
    display: block;
    margin-top: 60px;
    padding: 100px;
    text-align: center;
    height: 100%;
}

.icon-twitter, .icon-facebook, .icon-instagram{
    color: white;
    font-size: 40px;
}
.icon-twitter:hover, .icon-facebook:hover, .icon-instagram:hover{
color: salmon;
cursor: pointer;
}